@font-face {
    font-family: 'Montserrat';
    src: url('./Fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('./Fonts/OpenSans-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 116px;
    align-items: center;
}

.logo a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1C2A39;
    text-decoration: none;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation_item {
    margin-right: 40px;
}

.header-navigation_item:last-of-type {
margin-right: 0;
}

.header-navigation_item a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #5C6A79;
}

.header-navigation_item a:hover {
    font-weight: 900;
    color: #1C2A39;
}  

.icons {
    display: flex;
    position: relative;
}

.shop-bag {
    background-color: #FF353A;
    border-radius: 50%;
    width: fit-content;
    padding: 0px 4px;
    opacity: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    top: 8px;
    right: -5px;
}

.icons_icon-img {
    margin-left: 40px;
    width: 12px;
    height: 14px;
}

.relative-block {
    position: relative;
    padding-top: 116px;
}

.violet {
    width: 190px;
    height: 204px;
    background-color: #9E98DC;
    position: absolute;
    top: 138px;
    right: -82px;
    padding-top: 102px;
    padding-left: 12px;
    z-index: 1;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}

.rose {
    width: 137px;
    height: 273px;
    background-color: #FF8FE6;
    position: absolute;
    top: 440px;
    right: 0;
    padding-top: 149px;
    padding-left: 21px;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
    z-index: 100;
}

.rose, .violet:hover {
    cursor: pointer;
}

.discription_bar a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1C2A39;
    text-decoration: none;
} 

.slider-container {
    z-index: -1;
    position: relative;
}

.slider-wrapper {
    position: relative;
    max-width: 1120px;
    overflow: hidden;
    margin: 0 auto;
}

.slider-line {
    display: flex;
    align-items: center;
    transition: all 1s;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #EFEEF6;
    margin-left: 5px;
    margin-right: 5px;
}

.active-dot {
    background-color: #9E98DC;
}

.dot:hover {
    cursor: pointer;
}

.book-area {
    padding-top: 100px;
    display: flex;
}

.menu {
    height: 710px;
    background-color: #EFEEF6;
    padding-top: 80px;
}

.menu-navigation {
    margin-left: 150px;
    margin-right: 50px;
    width: 165px;   
}

.menu-navigation_item {
    margin-bottom: 20px;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
}

.active_item {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
    text-decoration: transparent;
    list-style: disc;
}

.menu-navigation_item:hover {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
    text-decoration: transparent;
    list-style: disc;
    cursor: pointer;
}

.menu-navigation_item a {
    text-decoration: none;
    color: #5C6A79;
}
.menu-navigation_item a:hover {
    color: #1C2A39;
}

.books {
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
    margin-top: 50px;
    max-width: 980px;
    justify-content: space-between;
}

.book-card {
    display: flex;
    margin-bottom: 85px;
    width: 50%;
}

.book-image {
    width: 212px;
    height: 340px;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
}

.book-discription {
    width: 260px;
    height: 340px;
    padding-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.autor {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
    margin-bottom: 4px;
}

.book-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
    margin-bottom: 4px;
    max-width: 176px;
}

.rating-str {
    display: flex;
}

.stars {
    display: flex;
}

.rating-star {
    width: 12px;
    height: 12px;
    margin-right: 1px;
}

.rating {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
    margin-left: 6px;
    margin-bottom: 16px;
}

.discription {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
    margin-bottom: 16px;
    max-width: 176px;
    max-height: 55px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C2A39;
    margin-bottom: 16px;
}

.buy-now {
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #4C3DB2;
    background-color: white;
}
.buy-now:hover {
    color: #5C6A79;
    cursor: pointer;
    border: 1px solid #EEEDF5;
}

.buy-now_active {
    color: #5C6A79;
    cursor: pointer;
    border: 1px solid #EEEDF5;

}

.load-more {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.load-more-button {
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #4C3DB2;
    background-color: white;
}
.load-more-button:hover {
    color: #5C6A79;
    cursor: pointer;
    border: 1px solid #EEEDF5;
} 

